html(lang="en")
    head
        include ../shared/head-calls
        title Document
    body
        include ../template/layouts/navbar


        include ../template/components/Home Components/Carousel
        include ../template/components/Home Components/Aboutus
        include ../template/components/Home Components/BeliefsCards








        include ../shared/footer-calls