html(lang="en")
    head
        include ../shared/head-calls
        title Document
    body
        include ../template/layouts/navbar


        .row
            .col-md-6
                div
                    h2 title
                    p dasdasdasdsad #[a(href='www.facebook.com') go to facebook] dasdasdasdsad
            .col-md-6
                div 
                    img(src="")








        include ../shared/footer-calls