html(lang="en")
    head
        include ../shared/head-calls
        title Document
    body
        include ../template/layouts/navbar


        
             <img src="../assets/images/our-product-hero-img.jpg" class="img-fluid our-product-hero-img mt-4" alt="...">
             <h1 class="our-products-section-header position-absolute top-50 start-50 translate-middle">Our Products</h1>
 
        <div class="container" >

             <div class="row">
               
                <div class="col-md-6">
                <img src="../assets/images/our-product-hero-img.jpg" class="img-fluid our-product-hero-img mt-4" alt="...">
                </div>

                <div class="col-md-6">
                   <h3 class="par-title mt-4">On/Off Road Hardware "Parking Machines"</h3>
                   <p class="img-par">pay and display , (PPM) Public Parking Meter can withstand virtually any environment and are fully customizable.  Learn more about our latest advancements in parking technology. Parking terminals are often the direct link between a motorist and a parking system. Tough and reliable, PDM terminals can withstand virtually any environment and are fully customizable. A single Pay and Display pay station is capable of managing multiple spaces in a typical city street. PDK, "Parking machine with Keyboard" pay stations can manage on average between 10 to 75 spaces, depending on the configuration of the area. Once parked, the user approaches the Pay & Display pay station and, using coins, cards or banknotes, pays for the required parking period. Pay and display systems differ from roadside pay stations in that one pay station can service multiple vehicle spaces, resulting in lower set up costs. In addition, this system prevents drivers from taking advantage of pay stations that have time remaining – this factor alone has doubled parking revenues in cities that have switched to pay and display.
                   </p>
                
                </div>
             
             </div>
             <br> <br>


              <div class="row">
               
                <div class="col-md-6">
                <img src="../assets/images/our-products-img-2.png" class="img-fluid our-product-hero-img mt-4" alt="...">
                </div>

                <div class="col-md-6">
                   
                   <p class="img-par">Personal Parking (PPM), Meter With this unique device, driver can park anywhere anytime.</p>
                   <p class="img-sub-par">• Simple Parking deployment <br>• IOT and Automated Parking Management <br> • Easy enforcement <br> • Easy enforcement <br> • Efficient operation  <br>  • No loss of revenue Personal Parking Meter With this unique device, driver  can park anywhere anytime. </p>
                   <br><br>
                   <p class="img-par">Driver benefits:</P>
                   <p class="img-sub-par" >• Selecting the parking duration and direct pay from the device <br>• Controlling the device from the mobile app   <br>• Scheduling the daily parking payment as per usage <br> • Knowing the available parking lot to save time   <br>• No parking fines</P>
                   <br><br>
                   <p class="img-par">Government benefits:</p>
                   <p class="img-sub-par">• Simple Parking deployment <br>• IOT and Automated Parking Management  <br>• Easy enforcement <br>• More cost saving <br>• More road data collection for more better road management<br>• No loss of revenue</p>
                   <br>
                   <br>
                   <p class="img-par">Society benefits: </p>
                   <p class="img-sub-par">• More Modernity <br>• More environmental focused</p>
                </div>
             
             </div>


             <br>
             <br>

             <div class="row">
               
                <div class="col-md-6">
                <img src="../assets/images/our-products-img-2.png" class="img-fluid our-product-hero-img mt-4" alt="...">
                </div>

                <div class="col-md-6">
                   
                   <p class="img-par">Private Sector, (PS) Private Sector, Parking Management is an innovative solution for parking management using ticketless barriers and Automatic Number Plate Recognition (ANPR).  Simple and user-friendly, (Private Sector )Egypt Parking improves the fluidity of traffic flow with limited investment.  The cloud-based management system provides the end user information in real time, allowing effective enforcement while facilitating operations and maintenance tasks.</p>
                   <p class="img-sub-par">• Ease traffic flow with efficient entry and exit without the need of ticket presentation. <br> • Real-time access to terminal data and alerts <br>• All the information from the cameras is sent to the (PS) servers hosted on customer premises or cloud.  This data is made               available and can be viewed using a simple web interface. This secure portal allows remote real-time monitoring of parking and activity, reducing the required operating time. It also allows remote control of parking rights and parking permit administration. </p>
                   <br><br>

                </div>
             
             </div>


             <div class="row">
               
                <div class="col-md-6">
                <img src="../assets/images/our-products-img-2.png" class="img-fluid our-product-hero-img mt-4" alt="...">
                </div>

                <div class="col-md-6">
                   
                   <p class="img-par">E-Pay Smart City of Egypt adhere to the highest PCI (Payment Card Industry) standards. We offer an easy-to-use payment service, adapted to meet all businesses and security requirements.  Reduce your operational costs by learning more about our card payment services. </p>
                   
                </div>
             
             </div>

        </div>




       







        include ../shared/footer-calls